main.chat {
  display: flex;
  flex-direction: column;
  height: 81vh;
  margin: 3rem auto 0 auto;
  max-width: 60rem;
  background: linear-gradient(
    to bottom right,
    rgba(25, 32, 54, 0.9),
    rgba(10, 10, 20, 0.9)
  );
  border-radius: 1.8rem;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 216, 255, 0.03);
  backdrop-filter: blur(20px);

  .head {
    text-align: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 2rem;
  }

  #chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: var(--space-lite);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    scroll-behavior: smooth;

    .message {
      display: inline-block;
      max-width: 81%;
      padding: 0.81rem 1.5rem;
      border-radius: 1.5rem;
      line-height: 1.5;
      word-wrap: break-word;
      animation: goodRising 0.3s ease;
      &.me {
        align-self: flex-end;
        background: #007aff;
        color: white;
        border-bottom-right-radius: 0.3rem;
      }
      &.friend {
        align-self: flex-start;
        background: rgba(255, 255, 255, 0.09);
        color: var(--text-color);
        border-bottom-left-radius: 0.3rem;
      }
    }
  }

  form {
    border-top: 1px solid rgba(255, 255, 255, 0.09);
    background-color: rgba(15, 15, 25, 0.8);
    backdrop-filter: blur(10px);

    .top {
      display: flex;
      gap: 0.9rem;
      padding: 0.9rem var(--space-lite);
    }
    
    .ace-messages {
      margin-top: 0.3rem;
    }

    input {
      flex: 1;
      min-width: 1rem;
      background: rgba(255, 255, 255, 0.08);
      border: none;
      outline: none;
      color: var(--text-color);
      font-size: 1.7rem;
      padding: 1rem 1.5rem;
      border-radius: 999px;
      transition: var(--transition);
      &:focus {
        background: rgba(255, 255, 255, 0.15);
      }
    }

    button[type="submit"] {
      background: #007aff;
      color: #fff;
      border: none;
      border-radius: 50%;
      height: 4.5rem;
      width: 4.5rem;
      cursor: pointer;
      transition: var(--transition);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 3px 10px rgba(0, 122, 255, 0.35), /* outer glow */
        inset 0 1px 2px rgba(255, 255, 255, 0.15), /* light inner */
        inset 0 -2px 4px rgba(0, 0, 0, 0.35); /* dark inner */
    
      &:disabled {
        cursor: default;
        opacity: 0.5;
      }
    
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 15px rgba(0, 216, 255, 0.3); /* outer glow */
      }
    }
  }
}
