main.fortunes {
  text-align: center;

  .emoji {
    position: absolute;
    padding: 0.9rem;
    top: -3rem;
    left: 50%;
    margin-left: -1.5rem;
    width: 3rem;
  }

  .page-title  {
    font-size: 3.3rem;
    margin-bottom: 2.1rem;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 0.9rem;
    margin-bottom: 1.2rem;

    button {
      height: 5.1rem;
      font-size: 2.1rem;
      &:not(.refresh) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &[aria-busy="true"] {
        font-size: 2.7rem;
      }
      &.refresh {
        width: 5.1rem;
      }
      &.gold {
        transition: color var(--prop-transition),
          background-color var(--prop-transition),
          box-shadow var(--prop-transition),
          transform var(--prop-transition);
      }
    }
  }

  #smooth-fortunes {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .fortune {
      padding: 0.6rem;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }
}
