nav {
  display: flex;
  justify-content: center;
  gap: 0.9rem;
  margin: 0 var(--space-lite);
  &.refresh-visible {
    flex-wrap: wrap;
  }

  a {
    &.active, &:hover {
     color: #00d8ff !important;
    }
  }

  a, button {
    white-space: nowrap;
  }
}
